@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #3e3f43;
}

body::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-right: 1px solid #3e3f43;
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("./font/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("./font/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./font/Inter-SemiBold.ttf");
}

#index__body {
  background: url(./../images/backgroundCyan.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

#menu__body {
  background-color: #3e3f43;
}

#all__body {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  #index__body {
    background: none;
  }
}


/*MAIN-MENU--START*/
.menu-main {
  background-color: #3e3f43;
  display: grid;
  grid-template-columns: 65% 35%;
}

h1 {
  color: #FFFFFF;
  text-align: left;
  font-size: 70px;
  font-family: "LibreBaskerville-Bold";
  text-transform: uppercase;
}


.menu-section {
  padding: 50px;
}

.shopping-cart {
  padding: 50px 50px 50px 0;
}

.menu-container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container-grid .card div h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  font-family: "LibreBaskerville-Bold";
}

.menu-container-grid img {
  border-radius: 10px;
  width: 100%;
}

.cart {
  color: #FFFFFF;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.white-icon {
  color: #FFFFFF;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.addToCart {
  cursor: pointer;
}

.addToCart:hover {
  color: greenyellow;
}

.fa-github {
  color: #FFFFFF;
}

#precio {
  color: #FFFFFF;
  font-size: 26px;
  margin: 0;
  font-family: "Inter-SemiBold";
}

.container-cart {
  max-width: 1200px;
  margin: 10px auto;
  color: #FFFFFF;
  font-size: 24px;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.cartDishes p {
  font-size: 20px;
}

.dishCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.cart-dish {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 185px;
}

.cart-price {
  width: 150px;
}

.cart-quantity {
  width: 75px;
}

.cart-quantity input {
  border: none;
  appearance: none;
  border-radius: 2px;
  padding: 1px;
  width: 50px;
  color: #222;
  font-size: 14px;
}

.cart-quantity button {
  border: none;
  appearance: none;
  background: rgb(194, 35, 35);
  border-radius: 2px;
  padding: 4px;
  width: 20px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.buttonDelete:hover{
  background-color: red;
}

.total {
  color: #FFFFFF;
  font-size: 26px;
  text-align: center;
  padding: 20px;
}

.total p {
  display: inline-block;
}

.totalContainer {
  font-size: 20px;
  color: #FFFFFF;
  padding: 5px;
  border-top: solid white 1px;
  text-align: center;
}

.dishTitle {
  height: 80px;
  padding: 22px 0 0 5px
}

.plato {
  height: 70px;
}

.cartTotal {
  padding-top: 10px;
}

header {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  align-items: center;
}

#logo {
  height: 120px;
  width: auto;
}

.special-card div {
  align-items: center;
}

.special-card div p {
  color: #ffffff;
  font-family: "Inter-SemiBold";
  text-align: center;
}